{% extends "armory/base.html" %}

{% block title %}Remove Weapon{% endblock %}

{% block content %}
<h1>Remove Weapon?</h1>

<p>
    Remove <strong>{{ warbandmemberweapon.weapon_game.weapon.name }}</strong>
    from <strong>{{ member.character.name }}</strong>
    in <strong>{{ warband.name }}</strong>?
</p>

<form method="post">
    {% url 'warbands:warband_detail' warband.pk as cancel_url %}
    {% include "armory/_delete_body.html" with cancel_url=cancel_url button_label="Remove" %}
</form>
{% endblock %}
