{% extends "armory/base.html" %}

{% block title %}Remove {{ warbandmember.display_name }}{% endblock %}

{% block content %}
<h1>Remove "{{ warbandmember.display_name }}" from "{{ warband.name }}"?</h1>

<p>This will remove the member and all their assigned weapons from the warband. This cannot be undone.</p>

<form method="post">
    {% url 'warbands:warband_detail' warband.pk as cancel_url %}
    {% include "armory/_delete_body.html" with cancel_url=cancel_url button_label="Remove" %}
</form>
{% endblock %}
