{% extends "armory/base.html" %}

{% block title %}Delete {{ weapontype.name }}{% endblock %}

{% block content %}
<h1>Delete "{{ weapontype.name }}" type?</h1>

{% if weapontype.weapons.count %}
<p>This type has {{ weapontype.weapons.count }} weapon(s). Deleting it will set them to no type.</p>
{% else %}
<p>Are you sure you want to delete this type? This cannot be undone.</p>
{% endif %}

<form method="post">
    {% url 'armory:weapontype_list' as cancel_url %}
    {% include "armory/_delete_body.html" with cancel_url=cancel_url %}
</form>
{% endblock %}
