{% extends "armory/base.html" %}

{% block title %}Remove link for {{ weapon.name }}{% endblock %}

{% block content %}
<h1>Remove "{{ weapon.name }}" from "{{ object.game.name }}"?</h1>

<p>This will unlink the weapon from this game and remove its cost ({{ object.cost|default:"none" }} pts).
The weapon itself will not be deleted.</p>

<form method="post">
    {% url 'armory:weapon_detail' weapon.pk as cancel_url %}
    {% include "armory/_delete_body.html" with cancel_url=cancel_url button_label="Remove link" %}
</form>
{% endblock %}
