[Unit]
Description=Caddy reverse proxy
Requires=docker.service
After=docker.service network-online.target

[Service]
WorkingDirectory=/opt/caddy
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always

[Install]
WantedBy=multi-user.target
